.aboutContainer {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: fit-content;
  max-width: 100%;
  margin: -70px 40px 0 40px;
}

.aboutLeft {
  width: 50%;
  color: #fff;
  background-color: #1659d7;
  border-radius: 8px 0 0 8px;
}

.aboutRight {
  width: 50%;
  color: #fff;
  background-color: #292d33;
  border-radius: 0 8px 8px 0;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: fit-content;
  max-width: 100%;
}

.leftInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutImage {
  border-radius: 6px;
  margin-top: 10px;
}

.aboutDesc {
  font-size: 18px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    margin: 0;
  }

  .aboutLeft,
  .aboutRight {
    width: 100%;
    border-radius: 0;
  }

  .leftInner,
  .rightInner {
    margin: 14px 30px;
  }
}
